[submodule "td"]
	path = td
	url = https://github.com/tdlib/td.git
[submodule "src/base64"]
	path = src/base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
